<% unless @factors.empty? %>
  <table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Аббревиатура</th>
      <th>Оценка</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @factors.each do |factor|  %>
      <tr>
        <td class='center'><%= factor.title %></td>
        <td class='center'><%= factor.abbr %></td>
        <td class='center'><%= factor.grade %></td>
        <td class='center'><%= link_to "добавить", mark_path(factor.id)%>
      </tr>
    <% end %>
  </tbody>
  </table>
<% else %>
    Ничего нет
<% end %>
