<% unless @factors.empty? %>
  <table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Аббревиатура</th>
      <th>Оценка</th>
    </tr>
  </thead>
  <tbody>
    <% @factors.each do |factor|  %>
      <tr>
        <td class='center'><%= link_to factor.title, mark_path(factor.id) %></td>
        <td class='center'><%= factor.abbr %></td>
        <td class='center'><%= factor.grade %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% else %>
   <h2>Ничего нет</h2> 
<% end %>
