<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Аббревиатура</th>
      <th>Оценка</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class='center'></td>
      <td class='center'></td>
      <td class='center'></td>
      <td class='center'></td>
    </tr>
  </tbody>
</table>
